@font-face {
    font-family: 'GothicA1-Regular';
    /* Name your font family */
    src: url('./fonts/Gothic_A1/GothicA1-Regular.ttf') format('truetype');
    /* Locate the .ttf file within your directory*/
}

@font-face {
    font-family: 'Poppins-Medium';
    /* Name your font family */
    src: url('./fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    /* Locate the .ttf file within your directory*/
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GothicA1-Regular';
    /* font-family: 'Poppins-Medium'; */
    /* font-family: ; */
}

.orangecustom {
    background-color: #FF5349;
}

.whitefont {
    color: white;
}


.logoimage {
    width: 74px;
    /* height: 80px; */
}

.logo {
    display: flex;
    align-items: center;
}

.logohead {
    /* width: 228px;
    height: 47px; */
    font-size: 35px;
    font-weight: 700;
}

.section2 {
    height: 75vh;
}

.section2content>h1 {
    /* font-size: 70px; */
    text-transform: capitalize;
}

.section2btn {
    color: #FF5349 !important;
    background-color: white !important;
    width: 200px !important;
    font-weight: bolder;
}

.section2img1 {
    width: 75%;
}

.section2img2 {
    top: 25px;
    left: -60px;
    width: 65%;
}

.section2img3 {
    bottom: 35px;
    right: 30px;
    width: 55%;
}

.whitebg {
    background-color: #F2F2F2;
}

.section3 {
    padding-top: 100px;
    /* background-color: aqua; */
}

.section3>p,
.section3>h1 {
    text-align: center;
}

.section3>p {
    font-weight: bold;
}

.section3card {
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 340px;
}

.sect3cards p,
.sect3cards h4 {
    text-align: center;
}

.sect3cards {
    column-gap: 30px;
    row-gap: 20px;
}

.section4image {
    width: 90%;
}

.section4 {
    padding-top: 100px;
}

.section4cards {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    /* background-color: yellow; */
}


.section4card,
.sect5card,
.section7card {
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    /* width: 330px; */
}

.section4card {
    padding: 20px;
}

.sect5card {
    padding: 20px;
    text-align: center;
}

.section5>h1,
.section5>p {
    text-align: center;
}

.section5nums {
    gap: 10px;
}

.sect5line {
    height: 1px;
    width: 320px;
    background-color: #8F8F8F;
}

.sect5num {
    font-size: 24px;
    font-weight: bold;
}

.sect5num1 {
    color: #FF5349;
}

.section5cards {
    column-gap: 30px;
}

.sect5card {
    width: 340px;
}

.section5 {
    padding-top: 100px;
    padding-bottom: 100px;
    row-gap: 20px;
}

.section6 {
    color: white;
    height: 80vh;
    /* width: 85%; */
    padding-top: 52px;
    /* padding-left: 40px;
    padding-right: 40px; */
    /* padding-bottom: 50px; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* flex-direction: column; */
    border-radius: 16px;
}

.sect6content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-left: 80px;
    /* background-color: yellow; */
}

.sect6content>p {
    width: 130%;
}

.sect6content>h1 {
    width: 130%;
}

.section6btn {
    color: #FF5349 !important;
    background-color: white !important;
    font-weight: bolder;
    width: 150px !important;
}

.sect6image1,
.sect6image2 {
    max-width: 300px;
}

.section6images {
    padding-right: 20px;
}

.section7 {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section7>h1 {
    text-align: center;
}

.section7card {
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.section7cards {
    gap: 20px;
    justify-content: center;
    /* background-color: hotpink; */
}

.section7btn {
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    color: #FF5349 !important;
    width: 150px !important;
}

.stars>i {
    color: #FACC15;
}

.details {
    display: flex;
}

.details>div {
    padding: 7px;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.section7cardbtn {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.name {
    font-weight: 600;
}

.hide {
    opacity: 0.3;
}

.section8 {
    color: white;
    height: 78vh;
    /* width: 85%; */
    padding-top: 32px;
    /* padding-left: 40px;
    padding-right: 40px; */
    /* padding-bottom: 50px; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* flex-direction: column; */
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.sect8content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-left: 80px;
    /* background-color: yellow; */
}

.sect8content>p {
    width: 70%;
}

.sect8content>h1 {
    width: 100%;
}

.section8btn {
    color: black !important;
    background-color: white !important;
    width: 200px !important;
    font-size: 10px !important;
    padding: 5px !important;
    border-radius: 25px !important;
    /* display: flex;
    flex-direction: column; */
}

.section8btnp {
    font-size: 14px;
    font-weight: 600;
}

.section8btn>div {
    display: inline-block;
    line-height: 4px;
}

.section8btn i {
    /* display: block; */
    font-size: 19px;
    margin: 2px;
}

.sect8image1,
.sect8image2 {
    max-width: 284px;
}

.section8images {
    padding-right: 20px;
}

.sect8btns {
    display: flex;
    gap: 10px;
}


@media screen and (max-width: 1200px) {
    .section2 {
        height: 60vh;
    }

    .section2content>h1 {
        font-size: 32px;
        line-height: 30px;
    }

    .section2content>p {
        font-size: 15px;
    }

    .section2img1 {
        width: 75% !important;
    }

    .section2img2 {
        top: 23px;
        left: -40px;
        width: 60% !important;
    }

    .section2img3 {
        bottom: 40px;
        right: 25px;
        width: 50% !important;
    }

    .section2btn {
        width: 180px !important;
    }

    .section3card {
        padding: 18px;
        width: 280px;

    }

    .sect3cards {
        column-gap: 25px;
        row-gap: 15px;
    }

    .sect3cards p {
        font-size: 14px;
    }

    .sect3cards h4 {
        font-size: 18px;
    }

    .section4image {
        width: 90%;
    }

    .section4cards {
        row-gap: 12px;
    }

    .section4card {
        padding: 15px;
    }

    .section7card {
        width: 280px;
    }

    .section7cardbtn {
        width: 280px;
    }

    .sect8content>p {
        width: 90%;
    }

    .sect8content>h1 {
        width: 120%;
    }

    .sect8content {
        padding-left: 60px;
    }

    .sect8image1,
    .sect8image2 {
        max-width: 254px;
    }

    .section8 {
        height: 70vh;
        padding-top: 30px;
    }

    .section8btn {
        width: 180px !important;
    }

}

@media screen and (max-width: 992px) {
    .section2 {
        height: 48vh;
    }

    .section2content>h1 {
        font-size: 26px;
        line-height: 24px;
    }

    .section2content>p {
        font-size: 13px;
        line-height: 15px;
    }

    .section2img1 {
        width: 65% !important;
    }

    .section2img2 {
        top: 23px;
        left: -40px;
        width: 42% !important;
    }

    .section2img3 {
        bottom: 0px;
        left: 120px;
        width: 32% !important;
    }

    .section2btn {
        width: auto !important;
        padding: 4px !important;
        font-size: 15px !important;
        border-radius: 5px !important;
    }

    .sect5card {
        padding: 15px;

    }

    .sect6image1,
    .sect6image2 {
        width: 250px;
    }

    .section6images {
        padding-right: 15px;
    }

    .sect6content {
        row-gap: 8px;
        padding-left: 40px;
    }

    .section6btn {
        width: 135px !important;
        padding: 4px !important;
        font-size: 15px !important;
    }

    .sect6content>p {
        width: 150%;
    }

    .sect6content>h1 {
        width: 150%;
    }

    .section6 {
        height: 67vh;
        padding-top: 45px;
    }


    .section7cardbtn {
        width: 255px;
    }

    .section7card {
        padding: 15px;
        width: 255px;
        display: flex;
        flex-direction: column;
        row-gap: 7px;
    }



    .section7cards {
        gap: 15px;
        justify-content: center;
    }

    .sect8image1,
    .sect8image2 {
        max-width: 234px;
    }

    .section8btn {
        width: 160px !important;
    }


    .sect8content {
        padding-left: 25px;
    }

    .sect8content>h1 {
        width: 130%;
    }

    .section8 {
        height: 65vh;

    }

    .sect8btns {

        flex-direction: column;
    }

    .sect8content>p {
        font-size: 14px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .section2 {
        height: 48vh;
    }

    .section2content>h1 {
        font-size: 26px;
        line-height: 24px;
    }

    .section2content>p {
        font-size: 13px;
        line-height: 15px;
    }

    .section2img1 {
        width: 50% !important;
    }

    .section2img2 {
        top: 17px;
        left: 45px;
        width: 38% !important;
    }

    .section2img3 {
        bottom: 0px;
        left: 190px;
        width: 32% !important;
    }



    .section2images {
        display: flex;
        justify-content: center;
    }

    .section3card {
        padding: 20px;
        width: 330px;
    }


    .sect3cards {
        justify-content: space-between !important;
    }

    .sect3cards p,
    .section4cards p,
    .sect5card {
        font-size: 13px;
    }

    .sect3cards h4,
    .section4cards h4,
    .sect5card h4 {
        font-size: 20px;
    }

    .section4content>h1 {
        font-size: 26px;
    }

    .section4content>p {
        font-size: 13px;
    }

    .section4image {
        width: 100%;
    }

    .section4cards {
        row-gap: 12px;

    }

    .section4card {
        padding: 10px;
    }

    .sect5card {
        padding: 15px;
        width: 330px;

    }

    .section5cards {
        column-gap: 22px;
    }


    .sect6image1,
    .sect6image2 {
        width: 173px;
    }

    .section6images {
        padding-right: 15px;

    }

    .sect6content {
        row-gap: 0px;
        padding-left: 20px;
    }

    .section6btn {
        width: 125px !important;
        padding: 4px !important;
        font-size: 15px !important;
    }

    .sect6content>p {
        width: 150%;
        font-size: 14px;
        line-height: 15px;
    }

    .sect6content>h1 {
        width: 150%;
        font-size: 30px;
        line-height: 30px;
    }

    .section6 {
        height: 47vh;
        padding-top: 36px;
    }

    .section7cardbtn {
        width: 250px;
        order: 9;
    }

    .section7card {
        padding: 12px;
        width: 45%;
        font-size: 14px;
    }

    .section7cards {
        gap: 15px;
        justify-content: center;
    }


    .sect8image1,
    .sect8image2 {
        max-width: 203px;
    }




    .sect8content {
        padding-left: 20px;
    }

    .sect8content>h1 {
        width: 140%;
        font-size: 25px;
    }

    .section8 {
        height: 57vh;

    }

    .sect8content>p {

        width: 120%;
    }

}

@media screen and (max-width: 576px) {
    .logoimage {
        width: 54px !important;
        object-fit: contain;
    }

    .logohead {
        font-size: 30px;
        font-weight: 700;
    }

    .section2 {
        height: 140vh;
        justify-content: center;
        row-gap: 3px;

    }

    .section2content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        order: 2;
    }

    .section2content>h1 {
        font-size: 28px;
        line-height: 24px;
        text-align: center;
    }

    .section2content>p {
        font-size: 15px;
        line-height: 15px;
        text-align: center;
    }

    .section2img1 {
        width: 50% !important;
        position: static !important;
        margin-left: auto;
        margin-right: auto;
    }

    .section2img2 {
        top: 19px;
        left: 75px;
        width: 38% !important;
    }

    .section2img3 {
        bottom: -90px;
        left: 270px;
        width: 32% !important;
    }

    .section2btn {
        width: 100px !important;
        padding: 4px !important;
        font-size: 15px !important;
        border-radius: 5px !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .section2images {
        display: flex;
        justify-content: center;
        order: 1;
    }

    .section3 {
        /* background-color: bisque; */
        justify-content: flex-start;
    }

    .section3card {
        padding: 10px;
        width: 250px;

    }

    .sect3cards {
        column-gap: 20px;
        row-gap: 10px;
    }

    .sect3cards p {
        font-size: 14px;
    }

    .sect3cards h4 {
        font-size: 18px;
    }

    .section4image {
        width: 90%;
    }

    .section4cards {
        row-gap: 12px;

    }

    .section4card {
        padding: 10px;
    }

    .section4images {
        display: flex;
        justify-content: center;
    }

    .section4cards p,
    .section4content>h1,
    .section4cards h4,
    .section4content>p {
        text-align: center;
    }

    .sect5card {
        padding: 10px;
        width: 250px;
    }

    .section5cards {
        column-gap: 22px;
    }

    .section5cards p {
        font-size: 14px;
    }

    .section5cards h4 {
        font-size: 18px;
    }


    .sect6image1,
    .sect6image2 {
        width: 133px;
    }

    .section6images {
        padding-right: 10px;
        padding-top: 7px;
    }

    .sect6content {
        row-gap: 0px;
        padding-left: 10px;
    }

    .section6btn {
        width: 105px !important;
        font-size: 15px !important;
    }

    .sect6content>p {
        width: 150%;
        font-size: 12px;
        line-height: 15px;
    }

    .sect6content>h1 {
        width: 150%;
        font-size: 25px;
        line-height: 25px;
    }

    .section6 {
        height: 37vh;
        padding-top: 26px;
    }


    .sect8image1,
    .sect8image2 {
        max-width: 160px;
    }

    .section8btn {
        width: 130px !important;
        height: 40px !important;
    }


    .sect8content {
        padding-left: 10px;

    }

    .sect8content>h1 {
        width: 200%;
        font-size: 22px;
    }

    .section8 {
        height: 50vh;
        padding-top: 22px;
    }

    .sect8content>p {
        font-size: 12px;
        width: 160%;
    }

    .section8images {
        padding-right: 10px;
        padding-top: 34px;
    }

}

@media screen and (max-width: 340px) {
    .logoimage {
        width: 44px !important;
        object-fit: contain;

    }

    .logohead {
        font-size: 25px;
        font-weight: 700;
    }

    .logo {
        padding: 0px !important;
    }

    .section2 {
        height: 105vh;
        justify-content: center;
        row-gap: 3px;
    }

    .section2content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        order: 2;
    }

    .section2content>h1 {
        font-size: 28px;
        line-height: 24px;
        text-align: center;
    }

    .section2content>p {
        font-size: 15px;
        line-height: 15px;
        text-align: center;
    }

    .section2img1 {
        width: 50% !important;
        position: static !important;
        margin-left: auto;
        margin-right: auto;
    }

    .section2img2 {
        top: 19px;
        left: 55px;
        width: 38% !important;
    }

    .section2img3 {
        bottom: -40px;
        left: 160px;
        width: 32% !important;
    }

    .section2btn {
        width: 100px !important;
        padding: 4px !important;
        font-size: 15px !important;
        border-radius: 5px !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .section2images {
        display: flex;
        justify-content: center;
        order: 1;
    }

    .section5cards {
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .sect6image1,
    .sect6image2 {
        width: 80px;
    }

    .section6images {
        padding-right: 0px;
        padding-top: 54px;
    }

    .sect6content {
        row-gap: 0px;
        padding-left: 0px;
    }

    .section6btn {
        width: 80px !important;
        font-size: 12px !important;
        border-radius: 5px !important;
    }

    .sect6content>p {
        width: 175%;
        font-size: 12px;
        line-height: 12px;
    }

    .sect6content>h1 {
        width: 170%;
        font-size: 15px;
        line-height: 15px;
    }

    .section6 {
        height: 30vh;
        padding-top: 16px;
    }

    .section7card {
        width: 100%;
    }

    .hideonsmall {
        display: none;
    }


    .sect8image1,
    .sect8image2 {
        max-width: 80px;

    }

    .sect8image2 {
        height: 190px;

    }

    .sect8image1 {
        height: 110px;

    }

    .section8btn {
        width: auto !important;
        height: 33px !important;
        line-height: 12px;
        /* font-size: 12px !important; */
        /* border-radius: 5px !important; */
    }


    .sect8content {
        padding-left: 0px;

    }

    .sect8content>h1 {
        width: 200%;
        font-size: 15px;
        line-height: 15px;
        margin: 0px;
    }

    .section8 {
        height: 41vh;

    }

    .sect8content>p {
        font-size: 12px;
        width: 180%;
        margin: 0px;
        line-height: 12px;
    }

    .section8images {
        padding-right: 0px;
        padding-top: 51px;
    }

    .section8btnp {
        font-size: 12px;
        font-weight: 600;
        line-height: 0px;

    }

    .section8btn p {
        line-height: 0px;
    }

    .section8btn>div {
        display: inline-block;
        line-height: 2px;
    }

    .section8btn i {
        /* display: block; */
        font-size: 15px;
        margin: 2px;
    }

}